---
http_interactions:
- request:
    method: get
    uri: http://tweeps.locaweb.com.br/tweeps/search/tweets.json?q=@locaweb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Username:
      - ingrid.santos@locaweb.com
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"statuses":[{"coordinates":null,"favorited":true,"truncated":false,"created_at":"Mon
        Sep 24 03:35:21 +0000 2012","id_str":"516519","entities":{"urls":[],"hashtags":[],"user_mentions":[{"screen_name":"dooley_narciso","name":"Dooley
        Narciso","id":262802,"id_str":"262802","indices":[1,16]}]},"in_reply_to_user_id_str":"262802","contributors":null,"text":"@dooley_narciso
        I''ll connect the primary SQL pixel, that should driver the SQL card!","metadata":{"iso_language_code":"pt","result_type":"recent"},"retweet_count":4,"in_reply_to_status_id_str":"783868","id":516519,"geo":null,"retweeted":true,"in_reply_to_user_id":262802,"place":null,"favorite_count":293,"user":{"profile_sidebar_fill_color":"DDEEF6","profile_sidebar_border_color":"C0DEED","profile_background_tile":false,"name":"Ii
        Modesto Gleason","profile_image_url":"http://a0.twimg.com/profile_images/2359746665/1v6zfgqo8g0d3mk7ii5s_normal.jpeg","created_at":"Mon
        Apr 26 06:01:55 +0000 2010","location":"LA, CA","follow_request_sent":null,"profile_link_color":"0084B4","is_translator":false,"id_str":"135674","entities":{"url":{"urls":[{"expanded_url":null,"url":"","indices":[0,0]}]},"description":{"urls":[]}},"default_profile":true,"contributors_enabled":false,"favourites_count":8,"url":null,"profile_image_url_https":"https://si0.twimg.com/profile_images/2359746665/1v6zfgqo8g0d3mk7ii5s_normal.jpeg","utc_offset":-28800,"id":135674,"profile_use_background_image":true,"listed_count":2,"profile_text_color":"333333","lang":"en","followers_count":438,"protected":false,"notifications":null,"profile_background_image_url_https":"https://si0.twimg.com/images/themes/theme1/bg.png","profile_background_color":"C0DEED","verified":false,"geo_enabled":true,"time_zone":"Pacific
        Time (US & Canada)","description":"Born 330 Live 310","default_profile_image":false,"profile_background_image_url":"http://a0.twimg.com/images/themes/theme1/bg.png","statuses_count":579,"friends_count":438,"following":null,"show_all_inline_media":false,"screen_name":"ii_modesto_gleason"},"in_reply_to_screen_name":"dooley_narciso","source":"web","in_reply_to_status_id":783868},{"coordinates":null,"favorited":false,"truncated":false,"created_at":"Mon
        Sep 24 03:35:21 +0000 2012","id_str":"475782","entities":{"urls":[],"hashtags":[],"user_mentions":[{"screen_name":"ruecker_zachary","name":"Ruecker
        Zachary","id":17200,"id_str":"17200","indices":[1,17]}]},"in_reply_to_user_id_str":"17200","contributors":null,"text":"@ruecker_zachary
        If we parse the pixel, we can get to the AI circuit through ","metadata":{"iso_language_code":"pt","result_typ[...]
